<div class="container">
  <LinkTo @route="index" class="navbar-brand">
    📈 GavantCRM
  </LinkTo>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <LinkTo @route="customers.index" class="nav-link">
          Customers
        </LinkTo>
        <LinkTo @route="dashboard" class="nav-link">
          Dashboard
        </LinkTo>
      </li>
    </ul>
  </div>
</div>